.rodape {
  background-color: #f9f9f9;
  border-top: 1px solid #858585;
  padding: 1em 1.5em;
}

.rodape__texto {
  margin-bottom: 0.5em;
}

.rodape__lista {
  display: none;
}

@media screen and (min-width: 1024px) {
  .rodape {
    display: flex;
    justify-content: space-around;
    padding: 3.5em 1.5em;
  }
  .rodape__lista-link:hover {
    color: var(--laranja);
    text-decoration: underline;
    }

  .rodape__lista {
    display: block;
    margin: 1em 0;
  }

  .rodape__texto {
    font-size: 24px;
    margin-top: 1em;
  }

  .rodape__lista-titulo {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.5em;
    color: var(--cinza);
  }

  .rodape__lista-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 1em 0;
  }

  .rodape__lista-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: var(--cinza-secundario);
  }
}

@media screen and (min-width: 1728px) {

  .rodape {
    padding: 2.5em 10em ;
  }

  .rodape__lista {
    border-left: 1px solid var(--cinza);
    padding-left: 1.25em;
  }
}